.service-provider {
    h2 {
        .button {
            margin-left: 2rem;
            font-size: 1rem;
        }
    }

    .my-services {
        padding: 2rem 0;
    }

    .actions {
        background: rgba(var(--color-primary-ref), 0.1);
        display: flex;
        align-items: center;
        padding: 4rem 0;
    }
}
