.service-provider {
    h2 {
        .button {
            margin-left: 2rem;
            font-size: 1rem;
        }
    }

    .btn-new-item {
        margin-bottom: 1rem;
    }

    .my-services-list {
        padding: 0;
        margin: 0;
        list-style: none;

        li {
            margin-bottom: 1rem;
        }

        .category {
            text-align: left;

            &:after {
                content: 'edit →';
                float: right;
            }
        }

        .title {
            font-weight: 600;
        }

        .description {
            display: none;
        }
    }
}

@media only screen and (min-width: 812px) {
    .service-provider {
        .page-content {
            border-radius: var(--radius);
            background: white;
            padding: 2rem;
        }

        .my-services-list {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-row-gap: 1rem;
            grid-column-gap: 1rem;

            li {
                margin: 0;
            }
        }
    }
}
