@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;600;900&display=swap');

:root {
    --color-ua-yellow: #ffd500;
    --color-ua-blue: #005bbb;

    --color-primary: var(--color-ua-blue);
    --color-primary-ref: 0, 91, 187;
    --color-alt: var(--color-ua-yellow);
    --color-alt-ref: 255, 213, 0;
}

html, body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
}

figure {
    margin: 0;
}

a.button, button {
    display: inline-block;
    padding: .5rem 1rem;
    border: 5px solid var(--color-primary);
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-primary);
    cursor: pointer;

    &:hover {
        background: rgba(var(--color-primary-ref), 0.9);
        color: white;
    }

    &.btn-alt {
        border-color: var(--color-alt);
        color: black;

        &:hover {
            background: rgba(var(--color-alt-ref), 0.6);
        }
    }
}

.btn-discreet {
    font-size: 1rem;
    border-color: grey;
    color: grey;
}

header {
    margin: auto;
    max-width: 980px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .branding {
        display: flex;
        align-items: center;
        text-decoration: none;
        font-weight: 700;
        font-size: 1.2rem;
        color: black;
    }

        .logo {
            margin: 0 5px 0 0;

            img {
                width: 35px;
                display: block;
            }
        }

    .main-nav {
        flex: 0 0 auto;

        ul {
            display: flex;
            list-style: none;

            li {
                margin-right: 2rem;
                text-transform: uppercase;
                font-size: 0.7rem;
                font-weight: 600;

                a {
                    text-decoration: none;
                }
            }
        }
    }
}

.wrapped-content {
    margin: auto;
    max-width: 980px;
}

@media only screen and (max-device-width: 812px) {
    .wrapped-content {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.home {
    .banner {
        padding: 3rem 1rem;
        display: flex;
        justify-content: space-between;

        h1 {
            flex: 0 0 60%;
        }

        .banner-image {
            flex: 0 0 35%;
            height: 45vh;
            overflow: hidden;

            img {
                max-height: 100%;
            }
        }
    }

    .choose-profile {
        background: rgba(var(--color-primary-ref), 0.05);
        padding: 2rem 0;

        .actions {
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        li {
            margin-right: 2rem;

            .button {
                display: inline-block;
                border: 5px solid var(--color-primary);
                font-size: 1.4rem;
                font-weight: 600;
            }
        }
    }
}

.og-reader.error {
    display: none;
}

form {
    fieldset {
        border: 0;
        padding: 0;
    }

    legend {
        font-size: 24px;
        font-weight: 700;
        margin: 19.92px 0;
        padding: 0;
    }

    ul {
        list-style: none;
        padding: 0;

        li {
            margin-bottom: 1rem;

            label {
                display: block;
                font-size: .8rem;
                text-transform: uppercase;
                font-weight: 600;
                margin-bottom: .5rem;
            }

            input[type=text], textarea, select {
                border: 2px solid rgba(var(--color-primary-ref), .5);
                text-indent: 2px;
                padding: 5px;
                font-size: 1.1rem;
                border-radius: 5px;
            }
        }
    }
}

