.edit-request {
    padding-bottom: 1rem;

    .form {
        margin-bottom: 1rem;
    }
}

@media only screen and (min-device-width: 812px) {
    .edit-request {
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-column-gap: 2rem;
    }
}
