
html, body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: 'Jost', sans-serif;
}

figure {
    margin: 0;
}

a.button, button {
    display: inline-block;
    padding: 1rem 1.5rem;
    border: 0;
    border-radius: 5px;
    background: rgba(var(--color-primary-ref), 0.8);
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    color: white;
    cursor: pointer;

    &:hover {
        background: rgba(var(--color-primary-ref), 0.9);
    }

    &.btn-alt {
        background: rgba(var(--color-alt-ref), 0.8);
        color: black;

        &:hover {
            background: rgba(var(--color-alt-ref), 1);
        }
    }
}

.btn-discreet, .button.btn-discreet {
    font-size: 1rem;
    border-color: grey;
    color: black;
    background: rgba(var(--color-primary-ref), 0.3);

    &:hover {
        color: white;
        background: rgba(var(--color-primary-ref), 0.6);
    }
}

.page {
    min-height: calc(100vh - 100px);
}

.wrapped-content {
    padding-left: 1rem;
    padding-right: 1rem;
}

.og-reader.error {
    display: none;
}

.no-results {
    padding: 4rem;
    text-align: center;
    border: 5px solid #eee;
    border-radius: 5px;
}

.login-form {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
        font-size: 1.4rem;
    }

    h4 {
        font-weight: 200;
    }
}

@media only screen and (min-width: 812px) {
    .wrapped-content {
        margin: auto;
        padding: 0 4rem;
    }
}
