:root {
    --color-ua-yellow: #ffd500;
    --color-ua-blue: #005bbb;

    --color-primary: var(--color-ua-blue);
    --color-primary-ref: 0, 91, 187;
    --color-alt: var(--color-ua-yellow);
    --color-alt-ref: 255, 213, 0;

    --color-text: black;
    --color-text-light: #6B6D81;

    --color-border: #D9D9D9;

    --radius: 10px;
}
