.business {
    h2 {
        .button {
            margin-left: 2rem;
            font-size: 1rem;
        }
    }

    .my-requests-container {
        background: rgba(var(--color-primary-ref), 0.05);
        padding: 2rem 0;
        margin-bottom: 2rem;
    }

    .all-services-container {
        padding-bottom: 1rem;
    }
}
