.business {
    h2 {
        .button {
            margin-left: 2rem;
            font-size: 1rem;
        }
    }

    .my-requests-container {
        background: rgba(var(--color-primary-ref), 0.05);
        padding: 2rem 0;

        .description {
            display: none;
        }
    }

    .all-services-container {
        padding-bottom: 1rem;
    }

    .actions {
        background: rgba(var(--color-alt-ref), 0.1);
        display: flex;
        align-items: center;
        padding: 4rem 0;
    }
}

@media only screen and (min-device-width: 812px) {

}
