.request-item {
    a {
        border-color: var(--color-primary);
        text-decoration: none;
        color: black;

        .company-name, .website {
            font-size: 0.9rem;
            font-weight: 600;
        }

        .og-reader {
            img {
                max-width: 100%;
            }
        }
    }
}
