.home {
    .banner {
        padding: 1rem 1rem;

        h1 {
            text-align: center;
        }

        .banner-image {
            display: none;
        }

        .banner-description {
            text-align: center;
            font-weight: 300;
            font-size: 1.2rem;
        }
    }

    .choose-profile {
        margin-bottom: 4rem;

        .actions {
            list-style: none;
            padding: 0;
        }

        li {
            margin-bottom: .5rem;

            .button {
                display: block;
                font-size: 1.2rem;
                font-weight: 600;
                text-align: center;
            }
        }

        .all-offers {
            margin-top: 1rem;

            a {
                color: black;

                &:visited {
                    color: black;
                }
            }
        }
    }

    .more-info {
        background: var(--color-primary);
        padding: 2rem 0;

        ul {
            list-style: none;
            margin: 0;
            padding: 0 1rem;

            li {
                border-radius: 5px;
                padding: 2rem;
                margin-bottom: 1rem;
                font-size: 1.1rem;
                font-weight: 300;
                line-height: 1.6;
                background: rgba(255, 255, 255, 0.2);
                color: white;

                p {
                    margin-bottom: 0;
                }
            }
        }
    }
}

@media only screen and (min-width: 812px) {
    .home {
        display: grid;
        grid-template-columns: 1fr 1fr;

        .banner {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            padding: 0 4rem;

            h1 {
                flex: 0 0 60%;
                text-align: left;
                font-size: 3rem;
            }

            .banner-description {
                text-align: left;
            }

            .banner-image {
                display: block;
                flex: 0 0 35%;
                height: 45vh;
                overflow: hidden;

                img {
                    max-height: 100%;
                }
            }

            .banner-description {
                font-size: 1.8rem;
                font-weight: 100;
            }
        }

        .choose-profile {
            margin-bottom: 0;

            .actions {
                display: flex;
                align-items: flex-start;
                flex-wrap: wrap;

                li {
                    flex: 0 0 auto;
                    margin-right: 2rem;

                    button {
                        text-align: left;
                    }
                }

                .all-offers {
                    flex: 0 0 100%;
                }
            }
        }

        .more-info {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 4rem;
            min-height: calc(100vh - 8rem);
        }
    }
}
