
.single-request {
    .og-reader {
        img {
            max-width: 100%;
        }
    }

    .request-content {
        margin-bottom: 1rem;
    }
}

@media only screen and (min-device-width: 812px) {
    .single-request {

        & > .wrapped-content {
            display: grid;
            grid-template-columns: 3fr 1fr;
            grid-column-gap: 2rem;
        }

        .description {
            white-space: pre-wrap;
            word-wrap: break-word;
        }

        .actions {
            background: rgba(var(--color-alt-ref), .09);

            .wrapped-content {
                display: grid;
                grid-template-columns: 1fr 1fr;
                padding: 2rem;
            }
        }
    }
}
