
.single-request {
    .og-reader {
        img {
            max-width: 100%;
        }
    }

    .request-content {
        margin-bottom: 1rem;
    }

    .actions {
        background: rgba(var(--color-primary-ref), .09);
        padding: 2rem;
    }
}

@media only screen and (min-width: 812px) {
    .single-request {
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-column-gap: 2rem;

        .description {
            white-space: pre-wrap;
            word-wrap: break-word;
        }
    }
}
