.all-services {
    .all-services-list {
        padding: 0;
    }

    .service-item {
        margin-bottom: 1rem;

        .title {
            margin: 1rem 0;
        }

        .description {
            display: none;
        }
    }
}

@media only screen and (min-width: 812px) {
    .all-services {
        .all-services-list {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-column-gap: 2rem;
            grid-row-gap: 1rem;

            li {
                margin-bottom: 1rem;
            }
        }
    }
}
