.all-requests {
    .all-requests-list {
        padding: 0;
    }

    .request-item {
        margin-bottom: 1rem;

        .company-name {
            color: var(--color-text-light);
        }

        .description, .website {
            display: none;
        }
    }
}

@media only screen and (min-width: 812px) {
    .all-requests {
        .all-requests-list {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-column-gap: 1.2rem;
            grid-row-gap: 1rem;

            li {
                margin: 0;
            }
        }
    }
}
