.service-item, .request-item {
    list-style: none;
    display: flex;
    justify-content: stretch;
    margin-bottom: 1rem;

    a {
        flex: 1 1 auto;
        display: block;
        padding: 1rem;
        border-width: 5px;
        border-style: solid;
        border-radius: 10px;
        text-decoration: none;
        color: black;
        background: white;
        position: relative;

        .title {
            margin: 0;
        }

        &:after {
            content: '→';
            position: absolute;
            right: 2rem;
            bottom: 1rem;
            text-align: right;
            opacity: .6;
            transition: opacity 200ms ease-in;
        }

        &:hover:after {
            opacity: 1;
        }
    }
}

.service-item {
    a {
        border-color: var(--color-alt);

        .company-name, .website {
            font-size: 0.9rem;
            font-weight: 600;
        }
    }
}
