.service-item, .request-item {
    list-style: none;
    display: flex;
    justify-content: stretch;

    .item-link {
        flex: 1 1 auto;
        display: block;
        padding: 1rem;
        border: .75px solid #CCDFF2;
        border-radius: 5px;
        text-decoration: none;
        color: black;
        background: white;
        position: relative;

        .title {
            font-size: 1rem;
        }

        .category {
            display: block;
            text-align: right;
            font-size: .8rem;
            font-weight: 300;
            margin-bottom: 1rem;

            &:after {
                content: '→';
                opacity: .6;
                margin-left: 1rem;
                transition: opacity 200ms ease-in;
            }

            &:hover:after {
                opacity: 1;
            }
        }


    }
}

.service-item {
    a {
        .company-name, .website {
            font-size: 0.9rem;
            font-weight: 600;
        }

        .title {
            font-size: 1rem;
        }
    }
}
